@import @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #121212;  
}

h1 {
  text-shadow: 6px 6px #000000;
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255);
}

/* Animation */
p {
  animation: animated-text 4s steps(29) 0s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 400px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}